html, body {
  font-size: 28px;
  font-family: Helvetica, sans-serif;
}

article {
  border: 2px solid black;
  box-sizing: content-box;
  padding: 10px 15px;
  width: 680px;
}

header {
  width: 100%
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  border-top: 30px solid black;
  margin: 5px 0;
  font-size: 1rem;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

