html {
  font: 400 20px "Nunito Sans";
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
}

#container{
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}
 * {
   margin: 0;
   padding: 0;
 }

body {
  background-image: url(../images/bg_body.gif);
}

header {
  display: grid;
  grid-area: header;
  grid-template-rows: 151px 243px 94px;
  grid-template-columns: 351px 298px 351px;
}

h1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0;
}

main {
  grid-area: main;
  background-color: white;
  display: grid;
  grid-template-rows: 100px 155.5px 158px 236.5px 65px;
  grid-template-columns: 90px 820px 90px;
}

main article:first-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
h2::before,
h2::after {
  content: "\2022";
  font-size: 1.4rem;
  padding: 0 26px 0 24px;
  vertical-align: 5px;
}

h2 p {
  flex: 1;
}

h2 {
  font: 600 36px "Nunito Sans";
  letter-spacing: .5px;
}

h3 {
  color: #3e98b2;
  font: 800 1.2rem "Nunito Sans";
  letter-spacing: .04rem;
}

p {
  line-height: 28.05px; 
}

article {
  letter-spacing: .01rem;
}

main article:nth-child(2) {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex h2 {
  flex: 0 0 69px;
}

.flex h3 {
  flex: 0 0 36px;
}

.flex p {
  margin-top: auto;
}

footer {
  grid-area: footer;
  background-color: #e7e7e7;
  margin-bottom: 130px;
  padding: 33px 0 28px;
}

footer nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0 182px;
}