/* Eliminate margins and padding on everything */
.styled-form * {
  margin: 0;
  padding: 0;
}

/* Grey box and default font for fieldsets */
.styled-form fieldset {
  background-color: #ececec;
  border: 2px solid #999;
  box-sizing: border-box;
  color: #4d4d4d;
  font-family: myriad-pro, "Helvetica Neue", Helvetica, Roboto,
  Arial, sans-serif;
  padding: 1rem;
}

/* Custom appearance for labels */
.styled-form label {
  font-weight: bold;
  line-height: 1.5rem;
}

.styled-form input[type="text"] {
  border: 1px solid #06c;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font: normal 1rem Helvetica, Arial, sans-serif;
  padding: 5px 8px;
  height: 40px;
  margin-bottom: 5px;
}

button {
  line-height: 40px;
  text-align: center;
  width: 100px;
}

.styled-form input {
  margin-right: 5px;
}