* {
  outline: 1px solid red;
}

.parent {
  background-color: cornsilk;
  width: 50%;
  text-align: center;
}

.child1 {
  background-color: #d4f0f8;
  border: 5px solid #2db7e1;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  display: inline-block;
  width: 40%
}

.child2 {
  background-color: #d4f0f8;
  border: 5px solid #2db7e1;
  box-sizing: border-box;
  margin: auto;
  padding: 0; 
  display: inline-block;
  width: 40%
}