/*  image will have maximum width of 800px */
/*  image will be no more than 100% of containing block */
img {
  width: 100%;
  height: 533px;
  max-width: 800px;
  display: block;
  margin: 0 auto;  /* 0: top and bottom margin, auto: left and right */
}