nav ul {
  background-color: powderblue;
  list-style-type: none;
  width: 200px;
  padding-left: 0;
}

nav li {
  font-size: 1.25rem;
  color: blue;
}

nav a {
  border: 1px solid yellow;
  box-sizing: border-box;
  color: blue;
  display: inline-block;
  line-height: 2.5;
  padding-left: 10px;
  text-decoration-line: none;
  width: 100%;
}

nav a:hover, 
nav a:focus {
  background-color: blue;
  color: white;
}
