@import url("whitespace-reset.css");

html {
  font: normal 16px Helvetica, Arial, sans-serif;
}

body {
  background-color: #ffd505;
  color: #222;
}

header {
  background-color: #057ec1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: inherit; /* not important */
  margin: 0 auto 30px;
  padding: 30px 0;
  width: 900px;
}

header h1 {
  font-size: 2.4rem;
  padding: 0 25px;
}

header h1 a {
  background-color: inherit; /* #057ec1 */
  color: white;
  text-decoration: none;
}

main {
  background-color: #ececec;
  color: inherit; /* #222 */
  margin: 0 auto;
  padding: 25px;
  width: 850px;
}

main::after {
  clear: both;
  content: "";
  display: block;
}

main h2 {
  font-size: 2rem;
  padding: 0 0 25px;
}

li {
  background-color: white;
  color: inherit; /* #222 */
  /* box-sizing used to incorporate padding */
  box-sizing: border-box;
  float: left;
  margin: 0 0 2% 2%;
  padding: 15px;
  width: 23.5%;
}

li:nth-of-type(4n+1) {
  margin-left: 0;
}

h3 {
  font-size: 1.2rem;
  padding: 0 0 5px;
}

figure {
  /* to push the text down */
  height: 160px;
  width: 100%;
}

img {
  display: block;
  height: 140px;
  margin: 0 auto;
  /*  In this case, width: auto isn't necessary. But theorectically, their widths are all different. Thus, the reason for auto.*/
  width: auto; 
}

[type="checkbox"] {
  display: none;
}

/* Only that figure element following the one label that has been checked. */
input:checked + figure img {
  height: auto;
  /*  since left attriute will use left edge of img, we need to set img bqck 1/2 its size.  We can do this by setting a negative value for left margin that's 1/2 its' size of 400px  */
  left: 50%;
  margin: 0 0 0 -200px;
  position: absolute;
  top: 100px;
  width: 400px;
  z-index: 2;
}

/* pseudo element to create the grey  background */
input:checked + .clickable::before,
input:checked + figure::before {
  background-color: rgba(0, 0, 0, 0.4);
  color: inherit; /* not important */
  bottom: 0;
  content: "";
  left: 0;
  /* fixed value will allow element to always be full width and height of window. */
  position: fixed;
  right: 0;
  top: 0;
  /* z-index attribute with 1 value will put they grey color element behind the img element when it has its' z-index value set to 2 */
  z-index: 1;
}

label {
  cursor: pointer;
  display: block;
}
